################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SkyNetCommander/obj
/SkyNetCommander/bin/ARM/Debug
/SkyNetCommander/.vs/Blinky/v15
